In [1]:
import pandas as pd
import pandas_gbq

In [2]:
from extraction import bitcoin

MKPRU: Price_USD has been added to the Dataframe.
ETRAV: Transaction_Volume has been added to the Dataframe.
ETRVU: Transaction_Volume_USD has been added to the Dataframe.
HRATE: Hash_Rate has been added to the Dataframe.
DIFF: Difficulty has been added to the Dataframe.
MKTCP: Market_Cap has been added to the Dataframe.
NTRAN: Transaction_Count has been added to the Dataframe.
NTRAT: Transaction_Count_Accumulated has been added to the Dataframe.
TOTBC: Total_Mined has been added to the Dataframe.
TOUTV: Output_Volume has been added to the Dataframe.
TRFEE: TRFees_BTC has been added to the Dataframe.
TRFUS: TRFees_USD has been added to the Dataframe.
CPTRA: Cost_Per_Transaction has been added to the Dataframe.
CPTRV: Cost_Percentage_of_TRVolume has been added to the Dataframe.
AVBLS: Block_Size_Average has been added to the Dataframe.
NTRBL: Transactions_Per_Block has been added to the Dataframe.
ATRCT: Confirmation_Time_Minutes has been added to the Dataframe.
NADDU: Unique_Addresses_Used has been added to the Dataframe.
MIREV: Miners_Revenue has been added to the Dataframe.

In [3]:
bitcoin

,Price_USD,Transaction_Volume,Transaction_Volume_USD,Hash_Rate,Difficulty,Market_Cap,Transaction_Count,Transaction_Count_Accumulated,Total_Mined,Output_Volume,TRFees_BTC,TRFees_USD,Cost_Per_Transaction,Cost_Percentage_of_TRVolume,Block_Size_Average,Transactions_Per_Block,Confirmation_Time_Minutes,Unique_Addresses_Used,Miners_Revenue
Date,,,,,,,,,,,,,,,,,,,
2009-01-02,0.00,0.000000,0.000000e+00,NaN,1.000000e+00,0.000000e+00,1.0,1.0,50.00,5.000000e+01,0.000000,0.000000e+00,0.000000,0.000000,0.000272,1.000000,NaN,1.0,0.000000e+00
2009-01-03,0.00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.0,50.00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000e+00
2009-01-04,0.00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.0,50.00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000e+00
2009-01-05,0.00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.0,50.00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000e+00
2009-01-06,0.00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.0,50.00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-10,26483.52,89015.382243,2.299023e+09,3.922184e+08,5.123434e+13,5.002107e+11,365369.0,850061602.0,19398537.50,1.031634e+06,49.633382,1.283971e+06,71.675525,1.139093,1.897741,2372.525974,9.791667,643676.0,2.618801e+07
2023-06-11,25852.82,71055.400062,1.835728e+09,4.151403e+08,5.123434e+13,5.066028e+11,399201.0,850426006.0,19399662.50,1.025491e+06,35.109207,9.075916e+05,68.230206,1.483747,1.998654,2449.085890,7.650000,561469.0,2.723757e+07
2023-06-12,25933.06,119423.834281,3.092719e+09,3.998590e+08,5.123434e+13,5.027074e+11,370634.0,850826536.0,19400562.50,1.167702e+06,42.508733,1.100687e+06,71.530236,0.857224,1.696171,2360.726115,9.550000,617352.0,2.651154e+07
2023-06-13,25904.32,117949.289942,3.067091e+09,3.743903e+08,5.123434e+13,5.019546e+11,410483.0,851197923.0,19401462.50,1.001926e+06,37.246010,9.684345e+05,60.557723,0.810472,1.798183,2792.401361,9.983333,682607.0,2.485792e+07
2023-06-14,25921.42,126989.853174,3.287955e+09,3.123882e+08,5.193536e+13,4.874845e+11,330658.0,851607276.0,19402368.75,9.600622e+05,39.868747,1.041958e+06,62.756333,0.636697,1.615091,2732.710744,11.083333,633244.0,2.093432e+07

In [4]:
bitcoin = bitcoin.reset_index()
schema = [{"name": "Date", "type": "DATE"}]

In [5]:
bitcoin = bitcoin.convert_dtypes()

In [6]:
bitcoin.dtypes

Date                             datetime64[ns]
Price_USD                               Float64
Transaction_Volume                      Float64
Transaction_Volume_USD                  Float64
Hash_Rate                               Float64
Difficulty                              Float64
Market_Cap                              Float64
Transaction_Count                         Int64
Transaction_Count_Accumulated             Int64
Total_Mined                             Float64
Output_Volume                           Float64
TRFees_BTC                              Float64
TRFees_USD                              Float64
Cost_Per_Transaction                    Float64
Cost_Percentage_of_TRVolume             Float64
Block_Size_Average                      Float64
Transactions_Per_Block                  Float64
Confirmation_Time_Minutes               Float64
Unique_Addresses_Used                     Int64
Miners_Revenue                          Float64
dtype: object

In [7]:
pandas_gbq.to_gbq(bitcoin, "bitcoin_data.bitcoin_table", "project-zoomcamp", if_exists="replace", table_schema=schema)